<p>Add new Skill: id, skill name, description~</p>
<form action="/skill/all" method="POST">
    <input type="text" name='skill[skill_id]'>
    <input type="text" name='skill[skill_name]'>
    <input type="text" name='skill[description]'>
    <button type="Submit">submit</button>
</form>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>Skill_Name</td>
        <td>Description</td>
        <td>Delete</td>

    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.skill_id %></td>
        <td><%= i.skill_name %></td>
        <td><%= i.description %></td>
        <td><a href="/skill/delete/<%=i.skill_id%>">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record skill_id, skill_name, description</p>
<form action="/skill/edit" method="POST">
    <input type="text" name="skill[skill_id]">
    <input type="text" name="skill[skill_name]">
    <input type="text" name="skill[description]">
    <button type="submit">Submit</button>
</form>